<h1>Listings#show</h1>
<p>Find me in app/views/listings/show.html.erb</p>

Id:<%=@listing.id %>
Type:<%=@listing.listing_type %>
Description:<%=@listing.listing_description %>
Price:<%=@listing.price %>
No of guests:<%=@listing.number_guest_accomadate %>
City:<%=@listing.city %>
Country:<%=@listing.country %>


